<!-- Entypo font stylesheet -->
<link href="/assets/entypo.css" rel="stylesheet">
<!-- /entypo font stylesheet -->

<!-- Font awesome stylesheet -->
<link href="/assets/font-awesome.min.css" rel="stylesheet">
<!-- /font awesome stylesheet -->

<!-- Bootstrap stylesheet min version -->
<link href="/assets/bootstrap.min.css" rel="stylesheet">
<!-- /bootstrap stylesheet min version -->

<!-- Mouldifi core stylesheet -->
<link href="/assets/mouldifi-core.css" rel="stylesheet">
<!-- /mouldifi core stylesheet -->
<link href="/assets/bootstrap-select.scss" rel="stylesheet">
<link href="/assets/mouldifi-forms.css" rel="stylesheet">
<!-- <link href="/assets/bootstrap-select.css" rel="stylesheet">
 -->

<!-- Page container -->
<div class="page-container">

	<!-- Page Sidebar -->
	  	<div class="page-sidebar">
		
		<!-- Site header  -->
		<header class="site-header">
		  <div class="site-logo"><a href="#"><img src="/assets/kwq.png" alt="Kwality Bakers" title="Kwality Bakers"></a></div>
		  <div class="sidebar-collapse hidden-xs"><a class="sidebar-collapse-icon" href="#"><i class="icon-menu"></i></a></div>
		  <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
		</header>
		<!-- /site header -->

		  <div class="sidebar-mobile-menu visible-xs"><a data-target="#side-nav" data-toggle="collapse" class="mobile-menu-icon" href="#"><i class="icon-menu"></i></a></div>
		</header>
		<!-- /site header -->
		
		<!-- Main navigation -->
		<ul id="side-nav" class="main-menu navbar-collapse collapse">
			<li class="has-sub"><a href="/home/index"><i class="icon-gauge"></i><span class="title">Misc.</span></a>
				<ul class="nav">
					<li><a href="/companies"><span class="title">Company</span></a></li>
					<li><a href="/employees"><span class="title">Employees</span></a></li>
					<li><a href="/products"><span class="title">Products</span></a></li>
					<li><a href="/vendors"><span class="title">Vendors</span></a></li>
				</ul>
			</li>
			
			<li class="has-sub"><a href="form-basic.html"><i class="icon-doc-text"></i><span class="title">Delivery Module</span></a>
				<ul class="nav collapse">
					<li><a href="/deliveries"><span class="title">Delivery</span></a></li>
					<li><a href="/inward_modules"><span class="title">Inward Modules</span></a></li>
				</ul>
			</li>
			
  </div>
  <!-- /page sidebar -->
  
  <!-- Main container -->
    <div class="main-container gray-bg">
  
		<!-- Main header -->
		<div class="main-header row">
		  <div class="col-sm-6 col-xs-7">
		  
			<!-- User info -->
			<ul class="user-info pull-left">          
			  <li class="profile-info dropdown"><a data-toggle="dropdown" class="dropdown-toggle" href="#" aria-expanded="false"> <img width="44" class="img-circle avatar" alt="" src="man-3.jpg" >
              <span class="caret"></span></a>
			  
				<!-- User action menu -->
				<ul class="dropdown-menu">
				  <li><a href="#"><i class="icon-user"></i>My profile</a></li>
				  <li><a href="#"><i class="icon-cog"></i>Account settings</a></li>
				  <li><a href="#/"><i class="icon-mail"></i>Messages</a></li>
				  <li><a href="#"><i class="icon-clipboard"></i>Tasks</a></li>
				  <li class="divider"></li>
				  
				  <li><a data-method="delete" href="/users/sign_out"><i class="icon-logout"></i>Logout</a>
				  	
				  </li></ul>
		  </div>
 

<!--Load JQuery-->
<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/bootstrap-select.min.js"></script>
<script src="/assets/plugins/metismenu/jquery.metisMenu.js"></script>
<script src="/assets/plugins/blockui-master/jquery-ui.js"></script>
<script src="/assets/plugins/blockui-master/jquery.blockUI.js"></script>
<script src="/assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
<!--Float Charts-->
<script src="/assets/plugins/flot/jquery.flot.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.tooltip.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.resize.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.selection.min.js"></script>        
<script src="/assets/plugins/flot/jquery.flot.pie.min.js"></script>
<script src="/assets/plugins/flot/jquery.flot.time.min.js"></script>
<script src="/assets/functions.js"></script>
<script src="/assets/nested_form.js"></script>


<!--ChartJs-->
<script src="/assets/plugins/chartjs/Chart.min.js"></script>
</html>